#PlanetCard{
    background-color: black;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

#CardTitle{
    text-align: left;
    padding: 1em;
    padding-bottom: 0em;
    margin: 0em;
}

#PlanetImage{
    width: 30%;
    height: auto;
}

#PlanetDescription{
    padding: 1em;
    text-align: left;
}

#DescHighlights{
    display: flex;
    flex-direction: column;
}

#Highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#PlanetWrapper{
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: row;
}

.Highlight{
    background-color: white;
    color: black;
    padding:1em;
    border-radius: 1em;
}